/* normal card css*/

.normal-card {
    /* width: 90%; */
    /* height: 200px; */
    display: grid;
    place-items: end center;
    padding: 10px;
    margin: auto;
}

.normal-card h1 {
    font-size: 18px;
    color: var(--fg);
    padding: 5px;
    text-align: center;
}

/* expand card css*/

.expanded-card {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: grid;
    place-items: center;
}

.expanded-card-h {
    font-size: 27px;
    color: var(--fg);
    width: 300px;
    padding: 5px;
    margin-top: 50px;
    margin-bottom: 5px;
    place-self: end center;
}

.expanded-card p {
    width: 300px;
    place-self: start center;
}